*{
    margin: 0px;
    padding: 0px;
}

/* HEADER */

header{    
    position: fixed;
    top: 0;
    width: 100%;    
    height: 45px;
    background-color: white;
    z-index: 100;
}

.button{
    border: 0;
    padding: 0;
    margin: 0;
}

#menuIcon{
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 8px;
    font-size: 24px;    
}

#youtubeIcon{    
    cursor: pointer;
    position: relative;
    left: 40px;
    top: 12px;
}

#searchBar{    
    position: relative;
    left: 60px;
    top: 5px;
    height: 24px;
    width: 40%;
    font-size: 16px;
    border: 1px #000000 solid;
    margin: 0;
    padding: 0;
}

#searchButton{
    cursor: pointer;  
    position: relative;
    left: 55px;
    top: 4px;
    height: 26px;
    width: 50px;
    background: #cccccc;
    border: 1px #000000 solid;
}

#uploadIcon{
    float: right;
    cursor: pointer;
    position: relative;
    right: 60px;   
    top: 15px;
    font-size: 20px;
}

#signupButton{
    float: right;
    cursor: pointer;
    position: relative;
    align-self: right;
    right: 40px;
    top: 11px;
    height: 26px;
    background: #5588ff;
    border: 1px #5588ff solid;
    color: white;   
    width: 60px;
    font-size: 12px;
}

p{
    justify-content: stretch;
}

/* MAIN */

main{
    position: relative;
    top: 50px;
    width: 100%;
    background: #ffffff;
}

.container{
    display: grid;
    grid-template-rows: 320px 50px 45px 45px 35px 5fr 2fr;
    grid-template-columns: 90px 150px 90px 1fr 1fr 150px 1fr;
    border: 2px black solid;
    padding: 3px;
}

.box{
    border: 2px black solid;
}

/*video*/.a{ 
    grid-area: 1 / 1 / span 1 / span 6;
}

/*title*/.b{
    grid-area: 2 / 1 / span 1 / span 6;
}

/*avatar*/.c{
    grid-area: 3 / 1 / span 2 / span 1;
}

/*channel*/.d{
    grid-area: 3 / 2 / span 1 / span 1;
    font-size: 14px;
    align-self: end;
}

/*subscribe*/.e{
    grid-area: 4 / 2 / span 1 / span 1;
}

/*blank1*/.f{
    grid-area: 3 / 3 / span 2 / span 3;
}

/*views*/.g{
    grid-area: 3 / 6 /span 2 /span 1;
    align-self: end;
}


/*add*/.h{
    grid-area: 5 / 1 / span 1 / span 1;
    font-size: 20px;
}

/*share*/.i{
    grid-area: 5 / 2 / span 1 / span 1;
}

/*more*/.j{
    grid-area: 5 / 3 / span 1 / span 1;
}
/*blank2*/.k{
    grid-area: 5 / 4 / span 1 / span 1;
}

/*like*/.l{
    grid-area: 5 / 5 / span 1 / span 1;

}

/*dislike*/.m{
    grid-area: 5 / 6 / span 1 / span 1;
}

/*info*/.n{
    grid-area: 6 / 1 / span 1 / span 6;
    padding: 10px;
}

/*comments*/.o{
    grid-area: 7 / 1 / span 1 / span 6;
}
/*sidebar*/ .p{
    grid-area: 1 / 7 / span 7 / span 1;
    text-align: justify;
}

