
#topNavBar{
    position: fixed;
    top: 0;
    width: 100%;    
    height: 45px;
    background-color: #ffffff;
}

#suggestions{
    
    overflow: scroll;
    position: fixed;
    top: 45px;
    left: 70%;
    
}

#body{
    position: relative;
    top: 60px;
    width: 68%;
    

}

.topIcon{
    float: right;
    margin: 10px;    
}

#search{
    width: 50%;
    
}


